
body{
    background: plum;
    color: rgb(50, 29, 59);
    text-align: center;

}

h1,h2,h3,h4,h5 { font-size: 30px;}

p{font-size: 25px;}

pre{font-size: 20px;}

.contenedor{
    width: 100%;
    background-color: rgb(215, 247, 236);
    display: outside;
    justify-content: center;
    align-items:center;

    flex-wrap: wrap;
    align-content: center;

}
.textofooter{
    padding-top:-8px ;
    width: 100%;
    font-family: cursive;
    text-align: center;
    color: rgb(9, 10, 8);
    font-size: 15px; 
    background-color:  rgb(215, 247, 236);
}